<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>The game thing</title>
  </head>
  <body>
    <div id="app">
      <div class="container has-text-centered">
        <div v-if="currentState === 'index'">
          <h1 class="header">How many questions you want to answer?</h1>
          <div class="columns">
            <div class="column has-text-centered" v-for="preset in questionPresets">
              <button class="button is-primary is-large" type="button" @click="selectPreset(preset)">{{ preset.text }}</button>
            </div>
          </div>
        </div>
        <div v-if="currentState === 'play'">
          <div class="columns">
            <div class="column has-text-centered">
              <h1 class="header"><span class="question-number">{{ currentQuestionIndex+1 }}</span> {{ currentQuestion.quest }} score: {{ score }}</h1>
              <progress class="progress" :value="currentQuestionIndex+1" :max="currentQuestionPreset.questions"></progress>
            </div>
          </div>
          <div class="columns">
            <div class="column" v-for="choice in currentQuestion.choices">
              <div class="card clickable" @click="selectChoice(choice)">
                <div class="card-image" v-if="choice.img">
                  <figure class="image">
                    <img :src="choice.img">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content has-text-centered">
                    <h2>{{ choice.text }}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  var app = new Vue({
    el: '#app',
    data: {
      currentState: '',
      score: 0,
      currentQuestionPreset: {},
      questionPresets: [
        {
          text: '5 Questions',
          name: '5q',
          questions: 5
        },
        {
          text: '10 Questions',
          name: '10q',
          questions: 10
        },
        {
          text: '15 Questions',
          name: '15q',
          questions: 15
        }
      ],
      currentQuestionIndex: 0,
      currentQuestion: {},
      questions: [
        {
          quest: 'Which one is the world\'s biggest island?',
          choices: [
            {
              img: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2IuhWaXZojgw_Kmzl57hMBj1kUV_g8rbcSIpqilB1Pf7IpSIl',
              text: 'Greenland',
              correct: true
            },
            {
              img: 'http://www.urbanrail.net/as/sing/singapore-map.png',
              text: 'Singapore'
            },
            {
              img: 'http://static.studyin-uk.com/assets/images/uk-universities-map2016.jpg',
              text: 'UK'
            },
            {
              img: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6DParC_hVEcCjxS75m5ApkepbCBv51CPx2gKFh21FdYSa0tezLg',
              text: 'Japan'
            }
          ]
        },
        {
          quest: 'When was William Shakespeare born?',
          choices: [
            {
              text: '23rd April 1546'
            },
            {
              text: '23rd April 1645'
            },
            {
              text: '23rd April 1564',
              correct: true
            },
            {
              text: '23rd April 1465'
            }
          ]
        }
      ]
    },
    created() {
      this.currentState = 'index'
    },
    methods: {
      selectPreset(preset) {
        this.currentQuestionPreset = preset
        this.currentState = 'play'
        this.setCurrentQuestionByIndex(this.currentQuestionIndex)
      },
      setCurrentQuestionByIndex(index) {
        this.currentQuestion = this.questions[this.currentQuestionIndex]
      },
      selectChoice(choice) {
        if (choice.correct) this.score += 1
        this.currentQuestionIndex += 1
        this.setCurrentQuestionByIndex(this.currentQuestionIndex)
      }
    }
  })
  </script>
  <style>
  h1 {
    font-size: 2rem;
  }
  .question-number {
    border-radius: 1.75rem;
    background-color: #0264ec;
    color: rgb(255, 255, 255);
    max-width: 3.5rem;
    min-height: 3.5rem;
  }
  .header {
    font-size: 2rem;
    margin: 2rem;
  }
  .button {
    margin: 0 5px;
  }
  .clickable {
    cursor: pointer;
  }
  </style>
</html>
